* {
  text-decoration: none;
  padding: 0px;
  box-sizing: border-box; }

#main-container {
  width: 375px; }
  @media (min-width: 1024px) and (max-width: 1280px) {
    #main-container {
      width: 1024px; }
      #main-container .logo {
        left: 47%; } }
  @media (min-width: 1280px) {
    #main-container {
      width: 1280px; }
      #main-container .logo {
        left: 48%; } }

body {
  width: 100%;
  background-color: #FFDF04;
  margin: 0px;
  font-family: 'Avenir', 'Open Sans', sans-serif; }

img {
  width: 100%;
  height: 100%; }

#main-container {
  width: 100%;
  height: 100%; }

.details {
  margin: 0px 20px; }

.logo-gif {
  margin-top: 50px; }

.navbar-toggle {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 7px; }

.navbar-default {
  background-color: black;
  border-color: white; }

#navbar {
  border-color: white; }

.navbar-toggle.collapsed {
  border-color: transparent; }

.audio {
  margin: 0 10px;
  background-image: url("../img/audio60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.lights {
  margin: 0 10px;
  background-image: url("../img/light60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.thermometer {
  margin: 0 10px;
  background-image: url("../img/thermometer60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.contact {
  margin: 0 10px;
  background-image: url("../img/contact60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.navbar li {
  height: 70px;
  width: 60px; }

li a {
  height: 100%; }

.logo {
  padding-top: 15px;
  margin: 0 auto;
  width: 60px;
  text-align: center;
  position: absolute;
  left: 42%; }

input[type=text] {
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px white solid;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  -moz-transition: 1s all ease; }

input[type=text]:hover {
  background-color: white; }

input[type=password] {
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px white solid;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  -moz-transition: 1s all ease; }

input[type=password]:hover {
  background-color: white; }

.left-inner-addon {
  position: relative; }

.left-inner-addon i {
  position: absolute;
  padding: 15px 12px; }

.btn-default {
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px white solid;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  -moz-transition: 1s all ease;
  padding: 10px 10px;
  background-color: white;
  border: 2px #9e9e9e solid; }

.btn-new {
  width: 65px;
  background-color: transparent;
  color: white;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease; }

.background-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/flick-forest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px; }

.Home-Automation-text {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  color: #FFDF04;
  padding-top: 330px;
  font-size: 20px;
  letter-spacing: 2px; }

.maori-text {
  display: none; }

.english-text {
  display: block; }

.maori-tiki {
  float: right;
  margin: 10px;
  display: block;
  width: 25%; }
  .maori-tiki img {
    margin: 0px;
    float: right; }

.tiki-section {
  width: 40px; }

.language {
  text-align: center;
  color: white;
  margin: 0px; }

.section-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 150px;
  color: white;
  font-size: 40px; }

.section-image {
  position: relative; }

.no-background {
  height: 100vh;
  background-color: black; }

.switches {
  text-align: center; }

.switch-text {
  color: white; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #FFDF04; }

input:focus + .slider {
  box-shadow: 0 0 1px #FFDF04; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.circle {
  width: 60%;
  margin: 10px auto;
  position: relative;
  display: block;
  background-color: transparent;
  color: #222;
  text-align: center; }

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  content: "";
  border: 3px solid #FFDF04; }

.circle_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.circle_wrapper {
  display: table;
  width: 100%;
  height: 100%; }

.circle_content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
  color: white; }

#minus {
  float: right; }

/*# sourceMappingURL=custom.css.map */
