* {
  text-decoration: none;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #FFDF04;
  margin: 0px;
  font-family: 'Avenir', 'Open Sans', sans-serif; }

img {
  width: 100%;
  height: 100%; }

#main-container {
  width: 100%;
  height: 100%; }

.details {
  margin: 0px 20px; }

.logo-gif {
  margin-top: 50px; }

.navbar-toggle {
  float: left;
  margin-left: 15px;
  border-radius: 7px; }

.navbar-default {
  background-color: black;
  border-color: white; }

#navbar {
  border-color: white; }

.audio {
  margin: 0 10px;
  background-image: url("../img/audio60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.lights {
  margin: 0 10px;
  background-image: url("../img/light60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.thermometer {
  margin: 0 10px;
  background-image: url("../img/thermometer60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.contact {
  margin: 0 10px;
  background-image: url("../img/contact60.png");
  background-repeat: no-repeat;
  background-position: 50%; }

li {
  height: 60px;
  width: 60px; }

input[type=text] {
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px white solid;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  -moz-transition: 1s all ease; }

input[type=text]:hover {
  background-color: white; }

input[type=password] {
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px white solid;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  -moz-transition: 1s all ease; }

input[type=password]:hover {
  background-color: white; }

.left-inner-addon {
  position: relative; }

.left-inner-addon input {
  padding-left: 30px; }

.left-inner-addon i {
  position: absolute;
  padding: 15px 12px;
  pointer-events: none; }

.btn-default {
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px white solid;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  -moz-transition: 1s all ease;
  padding: 10px 10px;
  background-color: white;
  border: 2px #9e9e9e solid; }

.background-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/flick-forest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px; }

.Home-Automation-text {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  color: #FFDF04;
  padding-top: 330px;
  font-size: 20px;
  letter-spacing: 2px; }

.maori-text {
  display: none; }

.english-text {
  display: block; }

.maori-tiki {
  float: right;
  margin: 10px;
  display: block; }

.tiki-section {
  position: absolute;
  top: 50px;
  left: 200px; }

.maori-tiki img {
  width: 50%;
  height: 50%;
  margin: 0px;
  float: right; }

.section-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 150px;
  color: white;
  font-size: 40px; }

.section-image {
  position: relative; }

.no-background {
  height: 100vh;
  background-color: black; }

/*# sourceMappingURL=custom.css.map */
