*{
	text-decoration: none;
	padding: 0px;
	box-sizing: border-box;	
}
//breakpoints, change as needed for your site
$pageMobileWidth: 375px;
$pageTabletWidth: 1024px;
$pageFullWidth: 1280px;
//the mixins. there is no mediaMobile mixin because that should be the default styling
@mixin mediaTablet {
	@media (min-width: #{$pageTabletWidth}) and (max-width: #{$pageFullWidth}) {
		@content;
		// .circle.col-lg-12{

		// }
	}
}
@mixin mediaDesktop {
	@media (min-width: #{$pageFullWidth}) {
		@content;
	}
}
//an example of how to use the mixin. 
//only the width will change if you resize the window.
//the height and background-color will apply to all 3 window widths.
#main-container {
	width: $pageMobileWidth;
	height: 200px;
	@include mediaTablet {
		width: $pageTabletWidth;
	}
	

	@include mediaDesktop {
		width: $pageFullWidth;
	}
}



//----SASS VARIABLES----//
$max : 100%;
$half: 50%;
$primary-color : #FFDF04;



// ----MIXINS----//
// Creates common styles used throughout project
@mixin text-box{
	padding: 20px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	text-align:center;
	background-color: transparent;
	border-radius: 50px;
	border: 2px white solid;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
	-o-transition: 1s all ease;
	-moz-transition: 1s all ease;

}

@mixin text-center{
	text-align: center;
	width: 300px;
	margin: 0 auto;
	
}

body{
	width: $max;
	background-color: $primary-color;
	margin: 0px;
	font-family: 'Avenir', 'Open Sans', sans-serif;
}

img{
	width: $max;
	height: $max;
}

#main-container{
	width: $max;
	height: $max;
}

// ----Login Page CSS---- //
.details{
	margin: 0px 20px;

}

.logo-gif{
	margin-top: 50px;
}


// ----NAV-BAR OVERIDE---- //

.navbar-toggle{
	float: left;
	margin-top:	20px; 
	margin-left: 15px;
	border-radius: 7px;
	// border-color: transparent;
}

.navbar-default{
	background-color: black;
	border-color: white;
}
#navbar{
	border-color: white;
}
.navbar-toggle.collapsed{
	border-color: transparent;
}


// ----NAV-BAR Icons---- //

.audio{
	margin: 0 10px;
	background-image: url('../img/audio60.png');
	background-repeat: no-repeat;
	background-position: $half;

}

.lights{
	margin: 0 10px;
	background-image: url('../img/light60.png');
	background-repeat: no-repeat;
	background-position: $half;
}

.thermometer{
	margin: 0 10px;
	background-image: url('../img/thermometer60.png');
	background-repeat: no-repeat;
	background-position: $half;
}

.contact{
	margin: 0 10px;
	background-image: url('../img/contact60.png');
	background-repeat: no-repeat;
	background-position: $half;
}


.navbar li{
	height: 70px;
	width: 60px;
}
 li a{
	height: $max;
}

//----Input Fields----//


input[type=text]{
	@include text-box;
}

input[type=text]:hover{
	background-color: white;
}

input[type=password]{
	@include text-box;
}

input[type=password]:hover{
	background-color: white;
}


.left-inner-addon {
	position: relative;

}

.left-inner-addon i {
	position: absolute;
	padding: 15px 12px;
}

// ----BUTTON----//
 
 .btn-default{ //override boostrap button css
	@include text-box;
	padding: 10px 10px;
	background-color: white;
	border: 2px #9e9e9e solid;


 }

.btn-new{ //changes the size of buttons in the different sections eg audio, lights, temperature
	width: 65px;
	background-color: transparent;
	color: white;
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
}


// ----Homepage CSS---- //

.background-image{
	width: $max;
	height: 100vh;
	background-image: url('../img/flick-forest.jpg');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	padding-top: 50px;
}

// ---- English to Maori Translation ---- //

.Home-Automation-text{	// Welcome to your home automation text
	@include text-center;
	color: $primary-color;
	padding-top: 330px;
	font-size: 20px;
	letter-spacing: 2px;
}

.maori-text{	//Hides the maori text
	display: none;
}

.english-text{	//Shows the english text
	display: block;
}	


// ----Maori Image---- //

.maori-tiki{
	img{
		margin: 0px;
		float: right;

	}	//Positioning of the Maori Tiki image
		float: right;
		margin: 10px;
		display: block;
		width: 25%;
		}


.tiki-section{	//Places the tiki on top of the section image
	width: 40px;
}

.language{
	text-align: center;
	color: white;
	margin: 0px;
}


// Top Section Image and text

.section-text{
	position: absolute;
	width: $max;
	text-align: center;
	top: 150px;
	color: white;
	font-size: 40px; 
}

.section-image{ // NOTE: when the size changes to tablet change height to 100vh in media query
	position: relative;
}

.no-background{
	height: 100vh;
	background-color: black; //Changes background color on sections
}



// ----Switches---- //

.switches{
	text-align: center;
}
.switch-text{
	color: white;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: $primary-color;
}

input:focus + .slider {
	box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

// ----Circles---- //

.circle {
	width: 60%;
	margin: 10px auto;
	position: relative;
	display: block;
	background-color: transparent;
	color: #222;
	text-align: center;
}

	.circle:after {
	display: block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	border-radius: 50%;
	content: "";
	border: 3px solid $primary-color;
}

	.circle_inner {

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	.circle_wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

	.circle_content {
	display: table-cell;
	padding: 1em;
	vertical-align: middle;
	color: white;
}


#minus{
	float: right;
}




