*{
	text-decoration: none;
	padding: 0px;
	box-sizing: border-box;	
}

//----SASS VARIABLES----//
$fullwidth : 100%;

// background: linear-gradient(direction, color-stop1, color-stop2, ...);
body{
	// background: linear-gradient(#FFDF04, black);
	background-color: #FFDF04;
	margin: 0px;
	font-family: 'Avenir', 'Open Sans', sans-serif;

}

img{
	width: $fullwidth;
}

#main-container{
	width: $fullwidth;
	height: $fullwidth;
}

.details{
	margin: 0px 20px;
}

.logo-gif{
	margin-top: 50px;
}

//----Input Fields----//
input[type=text]{
padding: 20px 20px;
margin: 8px 0;
box-sizing: border-box;
text-align:center;
background-color: transparent ;
border-radius: 50px;
border: 2px white solid;
}

input[type=password]{
padding: 20px 20px;
margin: 8px 0;
box-sizing: border-box;
text-align:center;
background-color: transparent;
border-radius: 50px;
border: 2px white solid;


}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 15px 12px;
    pointer-events: none;
}

// ----BUTTON----//
 
 .btn-default{
 	padding: 10px 10px;
	margin: 8px 0;
 	background-color: white;
 	border-radius: 50px;
 	border: 2px #9e9e9e solid;



 }











